<header>
    <div class="main bar">
        <a id="logo" href="index.html">
            <svg viewBox="0 0 138.04457 198.05951" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="linearGradient118" x1="136.84" x2="152.34" y1="211.47" y2="267.07" gradientTransform="matrix(.87822 0 0 1 20.345 0)" gradientUnits="userSpaceOnUse"><stop stop-color="#808080" offset="0"/><stop stop-color="#808080" stop-opacity="0" offset="1"/></linearGradient></defs><g transform="translate(-47.565 -44.512)"><rect x="47.565" y="44.512" width="119.5" height="198.06" fill="url(#linearGradient118)" stroke-width=".43176"/><path transform="matrix(-.46289 .028547 -.016388 -.82267 250.19 232.72)" d="m284.91 117.93-151.91 81.293 5.5551-172.21z" fill="#a00" stroke-width=".26458"/></g></svg>
        </a>
        <nav>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a>Blog</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>