<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Kingson Chinedu Odogwu">
    <meta name="description" content="I’m Kingson Chinedu Odogwu, a software developer. Welcome to my website." />
    <meta name="keywords" content="kingson, chinedu, odogwu, kcodogwu"> 
    <title>{{ title }} — Kingson Chinedu Odogwu</title>
    <!-- http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="57x57" href="public/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="public/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="public/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="public/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="public/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="public/img/manifest.json">
    <link rel="mask-icon" href="public/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- END http://realfavicongenerator.net/ -->
    <link href="public/vendor/css/normalize.css" rel="stylesheet" />
    <link href="public/css/main.css" rel="stylesheet" />
</head>