body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 100%;
    color: rgb(50, 50, 50);
    box-sizing: border-box;
    min-height: 100%;
}

img {
    width: 100%;
    max-width: 100%;
}

h1 {
    font-weight: normal;
    font-size: 3rem;
}

h2 {
    font-weight: normal;
    font-size: 2.0625rem;
}

h3 {
    font-weight: normal;
    font-size: 1.625rem;
}

p {
    font-weight: normal;
    font-size: 1.375rem;
    max-width: 100%;
    width: 100%;
}

ul {
    font-weight: normal;
    font-size: 1.375rem;
}

a {
    text-decoration: none;
    color: rgb(255, 5, 45);
}

a:hover, a:active {
    color: rgb(50, 50, 50);
}

header {
    min-height: 10vh;
}

a#logo {
    float: left;
}

a#logo svg {
    width: 34.5111425px;
    margin-top: 7px;
}

a#logo-footer svg {
    width: 69.022285px;
}

div.bar {
    overflow: auto;
}

nav {
    float: right;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

nav li a {
    font-weight: normal;
    font-size: 1rem;
    cursor: pointer;
}

footer {
    background-color: rgb(50, 50, 50);
    color: rgb(192, 192, 192);
    height: 18vh;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 1rem;
    font-weight: normal;
}

footer p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

footer a {
    text-decoration: none;
    color: rgb(255, 10, 50);
}

footer a:hover, footer a:active {
    color: rgb(192, 192, 192);
}

footer div.column-one {
    width: 30%;
    float: left;
    margin-right: 2.5%;
    margin-left: 0;
    text-align: center;
}

footer div.column-two {
    width: 30%;
    float: left;
    margin-right: 2.5%;
    margin-left: 2.5%;
    text-align: left;
}

footer div.column-three {
    width: 30%;
    float: left;
    margin-right: 0;
    margin-left: 2.5%;
    text-align: left;
}

div.main {
    width: 90%;
    margin: 0 auto;
}

div#banner {
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 4.75rem;
    color: rgb(255, 5, 45);
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

section#intro {
    background-color: rgb(245, 245, 245);
}

section#intro, section#projects, section#blog {
    background-color: rgb(245, 245, 245);
    min-height: 55vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

section#extra, section#resume, section#contact {
    background-color: rgb(230, 230, 230);
    min-height: 55vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 361px) { 
    div#banner {
        font-size: 6rem;
    }
}

@media screen and (max-width: 414px) {
    a#logo, nav {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        text-align: center;
    }

    nav ul { padding-left: 0; }

    footer { 
        min-height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding-top: 10px;
        padding-bottom: 40px;
        min-height: fit-content;
        overflow: visible;
    }

    footer div.column-one {
        float: none;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    footer div.column-two {
        float: none;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    footer div.column-three {
        float: none;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) { 
    div#banner {
        font-size: 6.25rem;
    }
    
    div.main {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    section#intro {
        min-height: 61vh;
        padding-top: 20px;
    }

    section#intro div.main {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    div#banner {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1337px) {
    div#banner { 
        float: right;
    }
}