---
title: About
layout: main.handlebars
---
<section id="extra">
    <div class="main">
        <h2>I have over 6 years of programming experience.</h1>
        
        <p>I started off with web and server-side software application development, 
        working mainly with the <a rel="nofollow" href="https://www.microsoft.com/net">.NET framework</a>, the <a rel="nofollow" href="https://www.asp.net/">ASP.NET runtime platform</a>, and 
        <a rel="nofollow" href="https://www.microsoft.com/sqlserver/">Microsoft SQL server</a> for data persistence.</p>

        <p>I progressed to building mobile applications that interacted with existing
        software platforms, which involved building for the <a rel="nofollow" href="https://www.android.com/">Android mobile platorm</a>.</p>

        <p>In mid-2014, I came across the <a rel="nofollow" href="https://nodejs.org/en/">Node.js<sup>®</sup> runtime platorm</a>, then I 
        switched over to using <a rel="nofollow" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> as my main programming language,
        and working with software tools like <a rel="nofollow" href="http://jquery.com/">jQuery</a>, <a rel="nofollow" href="http://expressjs.com/">Express</a>, 
        <a rel="nofollow" href="http://handlebarsjs.com/">Handlebars Templating Library</a>, <a rel="nofollow" href="https://facebook.github.io/react/">React</a>, 
        <a rel="nofollow" href="https://www.mongodb.com/">MongoDb</a>, etc.</p>

        <!--<p>Presently interested in and learning about Progressive Web Apps.</p>-->
    </div>
</section>
<section id="projects">
    <div class="main">
        <h2>I have worked with some very interesting people, on a variety of projects.</h1>
        
        <p>My early days as a professional software developer was spent working with an 
        amazing team at <a rel="nofollow" href="http://hts.com.ng/">High Tech Synergy</a>, whose primary product then 
        was <a rel="nofollow" href="http://hts.com.ng/htsfinancials.html">HTS Financials</a>, 
        a browser based accounting and enterprise level solution.</p>

        <p>I also worked with another amazing team at <a rel="nofollow" href="http://courtevillegroup.com/">Courteville Business Solutions Plc</a>. 
        One of the more notable projects I participated in was making modifications to 
        <a rel="nofollow" href="http://vreg.autoreglive.com/">AutoReg&trade; Motor Vehicle Administration Documentation platform</a>.</p>

        <p>Recently worked with some brilliant folks at <a rel="nofollow" href="http://www.designsbycrenet.com/s/">Crenet</a>. One of my notable task 
        involved building a chatting functionality into a web application project.</p>

        <p>I'm currently working with another set of brilliant people 
        at <a rel="nofollow" href="http://deepbluetechnologies.net/">Deepblue Technologies Limited</a>.</p>

        <p>You can find some of my personal projects and experiments at Github, like:
            <ul>
                <li><a rel="nofollow" href="https://github.com/kcodogwu/react-app-webpack">My React App project starter</a></li>
                <li><a rel="nofollow" href="https://github.com/kcodogwu/algorithms-and-data-structures">Experiments in algorithms and data structures using JavaScript</a></li>
                <li><a rel="nofollow" href="https://github.com/kcodogwu/kcodogwu.github.io">Source code for my personal website</a></li>
                <li><a rel="nofollow" href="https://github.com/kcodogwu?tab=repositories">And many more...</a></li>
            </ul>
        </p>
    </div>
</section>
<!--<section id="resume">
    <div class="main">
        <h2>Want to find out more about me?</h1>
        
        <p>Here's my resume.</p>
    </div>
</section>
<section id="blog">
    <div class="main">
        <h2>I also have a blog.</h1>
        
        <p>I blog about JavaScript, Node.js<sup>®</sup>, Web technologies, 
        and everything else that piques my interest.</p>
    </div>
</section>-->
<section id="contact">
    <div class="main">
        <h2>Want to meet up with me?</h1>
        
        <p>If you like what you see and would like to meet, feel free to get in touch. 
        I would love to hear from you.</p>

        <p>You can reach me on...<p>
        <ul>
            <li>
                <a rel="nofollow" href="https://github.com/kcodogwu">GitHub</a>
            </li>
            <li>
                <a rel="nofollow" href="https://bitbucket.org/kcodogwu/">Bitbucket</a>
            </li>
            <li>
                <a rel="nofollow" href="https://twitter.com/kc_odogwu">Twitter</a>
            </li>
            <li>
                <a rel="nofollow" href="https://app.plum.io/profile/kingson-chinedu-odogwu">Plum</a>
            </li>
            <li>
                <a rel="nofollow" href="https://linkedin.com/in/kingsonchineduodogwu">LinkedIn</a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.facebook.com/kingson.c.odogwu">Facebook</a>
            </li>
            <li>
                <a rel="nofollow" href="https://www.instagram.com/kcodogwu/">Instagram</a>
            </li>
            <li>
                Skype I.D.: kingson.chinedu.odogwu
            </li>
        </ul>
    </div>
</section>