---
title: Welcome to Kingson Chinedu Odogwu’s website
layout: main.handlebars
---
<section id="intro">
    <div class="main">
        <h1>Hello!</h1>
        
        <div id="banner">
            () [] {} &lt;&gt;
        </div>

        <h2>I'm Kingson Chinedu Odogwu.</h2>

        <p>I'm a software developer. It's nice to meet you.</p>
    </div>
</section>